.genre-card
{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
}
.genre-card p:hover{
    text-decoration: underline;
}

.genre-card:not(:hover)
{
    transition: .5s ease-in-out;
}

.genre-card p
{
    font-size: 2.2rem;
}